@model IEnumerable<FashionGo.Models.Entities.Transport>

@{
    ViewBag.Title = "Quản lý phí vận chuyển";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}



<p>
    @Html.ActionLink("Thêm mới", "Create",null, new { @class = "btn  btn-primary" })
</p>
<table class="table table-bordered table-striped datatable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.District.Name)
        </th>
        <th>
            Tỉnh/Thành phố
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transporter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>Tác vụ</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.District.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.Province.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transporter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-warning" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
            </td>
        </tr>
    }

</table>
