@model IEnumerable<FashionGo.Models.Entities.Category>

@{
    ViewBag.Title = "Quản lý chuyên mục tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<p>
    @Html.ActionLink("Thêm mới", "Create",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        
        <th>
           Tên chuyên mục
        </th>
       
        <th>
            Mã chuyên mục
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Thứ tự hiển thị
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }, new { @class = "btn btn-xs btn-primary" }) |
            @Html.ActionLink("chỉnh sửa", "Details", new { id=item.Id }, new { @class = "btn btn-xs btn-warning" }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id }, new { @class = "btn btn-xs btn-danger" })
        </td>
    </tr>
}

</table>
