@model IEnumerable<FashionGo.Models.Entities.Post>

<nav class="wrap t3-blog ">
    <div class="container">
        <div class="t3-module module " id="Mod103">
            <div class="module-inner">
                <p><i class="fa-brands fa-hacker-news fa-2x" style="color:orangered;"></i> <span style="font-family: Arial; font-size: 22px; color: orangered;font-weight:100;">TIN TỨC NỔI BẬT</span></p><div class="module-ct">
                    <ul class="nav">
                        <div class="row">
                            @foreach (var m in Model)
                            {
                                <li class="col-md-4 col-lg-4 col-xs-12">
                                    <div class="mod-articles-category-image">
                                        <img src="@m.Image" alt="@m.Title" style="height: 210px;max-height:210px;">
                                    </div>
                                    <p>
                                        <span class="mod-articles-category-date" style="font-family:Arial;">
                                            <i class="fa fa-calendar">&nbsp;</i>
                                            @if (m.createDate.HasValue)
                                            {
                                                @m.createDate.Value.ToString("dd/MM/yyyy")
                                            }
                                        </span>
                                    </p>

                                    <p class="article-title" style="height:50px" style="font-family:Arial;">
                                        <a class="mod-articles-category-title" href="@Url.RouteUrl("BlogDetails", new { CatSlug = m.Category.Name.ToAscii(), Slug = m.Slug })" title="@m.Title" style="text-transform: none; font-family: Arial; font-weight: 100;padding:0px;">
                                            @m.Title
                                        </a>
                                    </p>

                                    <p class="mod-articles-category-introtext" style="font-family:Arial;">
                                        @m.Content.StripTagsRegex().LimitLength(88, "...")
                                    </p>

                                    <p class="mod-articles-category-readmore">
                                        <a class="btn btn-primary mod-articles-category-title" href="@Url.RouteUrl("BlogDetails", new { CatSlug = m.Category.Name.ToAscii(), Slug = m.Slug })" title="@m.Title" style="text-transform: none; font-family: Arial; font-weight: 100;">
                                            Đọc thêm ...
                                        </a>
                                    </p>
                                </li>
                            }
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>