@using FashionGo.Models.Entities
@using FashionGo.Models
@model IEnumerable<Product>
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_ClearLayout.cshtml";
}

<div class="eshop-shopping-cart">
    <div class="page-header clearfix">
        <h1 class="page-title">
            @ViewBag.Title
        </h1>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ẢNH</th>
            <th>SẢN PHẨM</th>
            <th>MÀU</th>
            <th>SIZE</th>
            <th>GIÁ BÁN</th>
            <th>SỐ LƯỢNG</th>
            <th>THÀNH TIỀN</th>
        </tr>
        @foreach (Product p in Model)
        {
            <tr id="row-@p.Id">
                <td class="muted eshop-center-text">
                    <img src="@p.FeaturedImage" style="width: 52px; height: auto;" />
                </td>
                <td>
                    <h4 class="eshop-product-title">
                        <a href="@Url.RouteUrl("ProductDetails", new { id = p.Id, slug = p.Name.ToAscii() })" target="_blank">
                            @p.Name
                        </a>
                    </h4>

                </td>

                <td>
                    <select data-id="@p.Id" name="color" class="color spcolor">
                        <option value="@p.ColorDefaut">@p.ColorDefaut</option>
                        @foreach (var data in p.Color)
                        {
                            var selected = p.ColorDefaut == data.ColorName ? "selected" : "";
                            <option value="@data.ColorName" @selected>@data.ColorName</option>
                        }
                    </select>
                </td>
                <td>
                    <select data-id="@p.Id" name="size" class="size spsize">
                        <option value="@p.SizeDefaut">@p.SizeDefaut</option>
                        @foreach (var data in p.Size)
                        {
                            var selected = p.SizeDefaut == data.SizeName ? "selected" : "";
                            <option value="@data.SizeName" @selected>@data.SizeName</option>
                        }
                    </select>
                </td>

                <td>
                    @Html.FormatValue(p.PriceAfter, "{0:0,0}")<sup>đ</sup>
                </td>
                <td>
                    <input type="number" min="1" onchange="updateQuantity(this)" class="input-mini quantity" value="@p.Amount" name="quantity[@p.Id]" data-id="@p.Id" id="quantity_@p.Id">
                    <a class="eshop-remove-item-cart btn text-danger" href="#" data-id="@p.Id" onclick="return deleteFromCart(@p.Id);" title="Xóa khỏi giỏ hàng">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
                <td>
                    <span id="Amount-@p.Id">
                        @Html.FormatValue(p.PriceAfter * p.Amount, "{0:0,0}")
                    </span><sup>đ</sup>
                </td>
            </tr>
        }
        <tr>
            <th colspan="4" style="text-align:right">Tổng cộng:</th>
            <th>
                <strong><span class="brand-primary-color nn-cart-total">@Html.FormatValue(ShoppingCart.Cart.Total, "{0:0,0}")</span><sup>đ</sup></strong>
            </th>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>
                            <label for="coupon_code" class="control-label"><strong>Nhập mã Coupon: </strong></label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <div class="controls">
                                    <input type="text" id="coupon_code" name="coupon_code" class="input-large" value="">
                                    <button type="button" class="btn btn-small btn-danger" onclick="applyCoupon();">Kiểm tra</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="eshop-cart-checkout">

        <form action="/Cart/Clear" method="post">
            <a href="@Url.RouteUrl("Home")" class="btn btn-success pull-left">
                <i class="fa fa-shopping-bag"></i> THÊM SẢN PHẨM KHÁC
            </a>
            <a href="@Url.RouteUrl("Checkout")" class="btn btn-primary pull-right">
                <i class="fa fa-cart-arrow-down"></i> Đặt Hàng
            </a>
            <button class="btn btn-default pull-right" onclick="return confirm('Xác nhận bạn muốn xóa giỏ hàng?');">
                <i class="fa fa-trash"></i> Xóa giỏ hàng
            </button>
        </form>
    </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>

    $('select.size-select').on('change', function () {
        var selectedValue = $(this).val();
        var id = $(this).closest('tr').find("input[name='Id']").val();

        if ($(this).hasClass('size-select')) {
            // Xử lý khi chọn select size
            $.ajax({
                url: '@Url.Action("Update", "GioHang")',
                type: 'POST',
                data: { Id: id, SizeId: selectedValue },
                success: function(result) {
                    // Xử lý kết quả trả về nếu cần
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Xử lý lỗi nếu cần
                }
            });
        }
    });
    $(function () {
        // Xóa khỏi giỏ
        $(".remove-from-cart").click(function () {
            pid = $(this).attr("data-id");
            tr = $(this).parents("tr");// tim <tr> chua <img> bi click
            $.ajax({
                url: "/Cart/Remove",
                data: { id: pid },
                success: function (response) {
                    $("#nn-cart-count").html(response.Count);
                    $(".nn-cart-total").html(response.Total);
                    tr.hide(500);
                    if (response.Total == 0) {
                        window.location.href = '/Home/Index';

                    }
                }
                
            });
        });
</script>





