@model IEnumerable<FashionGo.Models.Entities.ProductCategory>
@using System.Web.Configuration
@using FashionGo.Models.Dao
<style>
    .sale-flash {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 6px 10px;
        background-color: #ee4d2d;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        border-radius: 2px;
        z-index: 5;
    }

        .sale-flash.out-of-stock {
            background-color: #777;
        }

    .img-custom {
        height: 220px;
    }

    .sign {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999999;
        display: none;
    }

    .sign-content {
        border-radius: 10px;
        background-color: #fff;
        margin: 8% auto;
        font-size: 15px;
        max-height: 80vh;
        max-width: 150vh;
    }

    .sign-list {
        margin: 16px;
    }

    .span7 #main-image-area {
        float: left;
        width: 350px;
    }

    .selected {
        background-color: #f2533d;
        color: #fff;
    }
</style>

<nav class="wrap t3-shop-by-cat ">
    <div class="container">
        <div class="t3-module module " id="Mod98">
            <div class="module-inner">
                <h3 class="module-title "><span>Danh mục sản phẩm</span></h3><div class="module-ct">
                    <div class="eshop-product-tabs">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="tabbable default">
                                    <ul class="nav nav-pills nav-stacked" id="productTab">
                                        @{
                                            var rel = 0;
                                            var data = 66;
                                        }
                                        @foreach (var cat in Model)
                                        {
                                            var activeClass = rel == 0 ? "active" : "";

                                            <li class="@activeClass"><a href="#category-tab-@rel@data" rel="@rel" data="@data" data-toggle="tab">@cat.Name</a></li>

                                            rel++;
                                        }
                                    </ul>
                                    <div class="tab-content" id="productContent">
                                        @{
                                            rel = 0;
                                        }
                                        @foreach (var cat in Model)
                                        {
                                            var activeClass = rel == 0 ? "active" : "";
                                            <input type="hidden" id="setcount-@rel" name="setcount-@rel" value="0" />
                                            <div class="tab-pane @activeClass row-fluid " id="category-tab-@rel@data">
                                                <div class="category-desc span3">
                                                    <p>@Html.Raw(cat.Description)</p>
                                                    <div class="category-view-all">
                                                        <a class="btn btn-primary" href="@Url.RouteUrl("ProductCategory", new { slug = cat.Name.ToAscii(), id = cat.CatId })" title="Xem danh mục @cat.Name">
                                                            Xem thêm...
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="clearfix span9 ">
                                                    <ul id="item-container-@rel@data" class="product-tab-content row " >
                                                        @foreach (var item in cat.AllProducts(18))
                                                        {
                                                            <li class="eshop-product-tab eshop-wrap-product col-lg-4 col-md-4 col-xs-12" style="width:33%!important">
                                                                <div class="eshop-image-block">
                                                                    <div class="image">
                                                                        <span class="overlay-background-color">&nbsp;</span>
                                                                        <a href="@Url.RouteUrl("ProductDetails", new { slug = item.Name.ToAscii(), id = item.Id })" title="@item.Name">
                                                                            <img class="image img-responsive" alt="@item.Name" src="@item.FeaturedImage">
                                                                        </a>
                                                                        <div class="sale-flash">@item.Discount% Off*</div>
                                                                    </div>
                                                                    <div class="eshop-buttons">
                                                                        <p>
                                                                            <a class="button" style="cursor: pointer;" onclick="addToWishList2(this,@item.Id, '@WebConfigurationManager.AppSettings["SiteName"].ToString()')" title="Đánh dấu sản phẩm yêu thích"><i class="fa fa-heart"></i><span class="text-hide">Yêu thích</span></a>
                                                                            <a class="button" style="cursor: pointer;" href="@Url.RouteUrl("ProductDetails", new { slug = @item.Name.ToAscii(), id = @item.Id })" title="Xem chi tiết"><i class="fa fa-arrow-right"></i><span class="text-hide">Chi tiết</span></a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                    <h4 class="eshop-product-title">
                                                                        <a href="@Url.RouteUrl("ProductDetails", new { slug = item.Name.ToAscii(), id = item.Id })" class="link" data-original-title="@item.Name">
                                                                            @item.Name
                                                                        </a>
                                                                    </h4>
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-md-6 col-xs-6">
                                                                            @if (item.Discount.Value > 0)
                                                                            {
                                                                                <span class="eshop-base-price">@Html.FormatValue(item.Price, "{0:0,0}")đ</span>
                                                                            }
                                                                            <span class="eshop-price">@Html.FormatValue(item.PriceAfter, "{0:0,0}")đ</span>

                                                                        </div>
                                                                        <div class="col-lg-6 col-md-6 col-xs-6">
                                                                            <button onclick="loadForm('@item.Id')" class="btn btn-primary">Thêm vào giỏ</button>
                                                                        </div>
                                                                    </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="pagination pagination-toolbar" style="text-align: center; margin-top: 20px;">
                                                    <ul class="pagination-list-@rel@data"></ul>
                                                </div>
                                            </div>
                                            rel++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                            jQuery(function ($) {
                                $(document).ready(function () {
                                    loadPagination(0, @data);
                                    $('#setcount-0').attr('value', 1);
                                });
                                $("ul#productTab li a").on('shown.bs.tab', function (e) {
                                    var hClass = $('#productContent div').hasClass('active');
                                    if (hClass) {
                                        $('#productContent div').removeClass('animated bounceInUp');
                                    }
                                    var getCountData = $(this).attr('rel');
                                    var getModuleId = $(this).attr('data');
                                    if ($('#setcount-' + getCountData).val() != 1) {
                                        loadPagination(getCountData, getModuleId);
                                        $('#setcount-' + getCountData).val(1);
                                    }
                                    $('#category-tab-' + getCountData + getModuleId).addClass('animated bounceInUp')
                                });
                                loadPagination = (function (countData, moduleId) {
                                    $("ul.pagination-list-" + countData + moduleId).eshopPagination({
                                        containerID: "item-container-" + countData + moduleId,
                                        first: "First",
                                        last: "Last",
                                        perPage: 3,
                                        keyBrowse: true,
                                        pause: 0,
                                        clickStop: true,
                                        scrollBrowse: false,
                                        animation: "bounceIn",
                                    });
                                })

                            })
                    </script>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="sign" id="sign">

</div>

<script>

    function loadForm(id) {
        debugger
        jQuery.ajax({
            url: '/Product/BlokAdd',
            type: 'GET',
            data: { Id: id },
            success: function (result) {
                debugger
                document.getElementById('sign').innerHTML = result;
                document.getElementById('sign').style.display = 'block';
            }
        });
    }
    function addToWishList2(ele,itemId) {
        ele.innerHTML = "<i class='fa fa-heart red'></i><span class='text-hide'>Yêu thích</span>";
        jQuery.ajax({
            type: "POST", // Hoặc "GET" nếu bạn muốn sử dụng GET request
            url: "/Product/AddToWishList", // Thay thế "ControllerName" và "ActionName" bằng tên controller và action cụ thể
            data: { id: itemId },
            success: function (response) {
                // Xử lý kết quả trả về sau khi gọi controller thành công
            },
            error: function () {
                // Xử lý lỗi (nếu có)
            }
        });
    }
    function addToWishList(ele, itemId) {
        ele.innerHTML = "<i class='fa fa-heart red'></i><span class='text-hide'>Yêu thích</span>";
        jQuery.ajax({
            type: "POST", // Hoặc "GET" nếu bạn muốn sử dụng GET request
            url: "/Product/AddToWishList", // Thay thế "ControllerName" và "ActionName" bằng tên controller và action cụ thể
            data: { id: itemId },
            success: function (response) {
                // Xử lý kết quả trả về sau khi gọi controller thành công
            },
            error: function () {
                // Xử lý lỗi (nếu có)
            }
        });
    }

    function toggleColorButton(button) {
        var colorButtons = document.getElementsByClassName("colorButton");
        for (var i = 0; i < colorButtons.length; i++) {
            colorButtons[i].classList.remove("selected");
        }
        button.classList.add("selected");
        selectedColor = button.getAttribute("data-color"); // Loại bỏ từ khóa "var" ở đây
    }

    function toggleSizeButton(button) {
        var sizeButtons = document.getElementsByClassName("sizeButton");
        for (var i = 0; i < sizeButtons.length; i++) {
            sizeButtons[i].classList.remove("selected");
        }
        button.classList.add("selected");
        selectedSize = button.getAttribute("data-size"); // Loại bỏ từ khóa "var" ở đây
    }
    console.log(selectedColor);
    console.log(selectedSize);

</script>
